<div class="container pad-show">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Full name:</strong>
      <%= @client.full_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @client.email %>
    </p>

    <p>
      <strong>Telephone:</strong>
      <%= @client.telephone %>
    </p>

    <p>
      <strong>Date register:</strong>
      <%= @client.date_register %>
    </p>

    <%= link_to pluralize(@client.contacts.size, 'Contato', 'Contatos'), client_contacts_path(@client), :class => "btn btn-dark" %>
    <%= link_to 'Novo Contato', new_client_contact_path(@client), :class => "btn btn-primary" %>
    <%= link_to 'Editar Contato', edit_client_contact_path(@client), :class => "btn btn-warning" %> 
    <%= link_to 'Voltar', clients_path, :class => "btn btn-dark" %>
  </div>
</div>