<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Date register:</strong>
  <%= @client.date_register %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
