<%= form_for([@client, @contact]) do |f| %>
  <p class="form-group">
    <%= f.label :Nome %>
    <%= f.text_field :full_name, autofocus: true, class:"form-control" %>
  </p>
  <p class="form-group">
    <%= f.label :Email %>
    <%= f.text_field :email, autofocus: true, class:"form-control" %>
  </p>
  <p class="form-group">
    <%= f.label :Telefone %>
    <%= f.text_field :telephone, autofocus: true, class:"form-control" %>
  </p>
  <p>
    <%= f.submit class:'btn btn-primary' %>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-default'%>
  </p>
<% end %>